body {
  background: white;
  width: 100%;
  height: 100%;
  font-family: sans-serif;

}

#tudo{
  width: 960px;
  height: 100%;
  margin: 0 auto;

}

#cabeçario{
  height: 10%;
  width: 100%;
  background-color: black;
  box-shadow: 1px 2px 6px rgba(0,0,0,0,5);

}

#MenuSimples{
  width: 50%;
  height: 100%;
  float:right;
}

#MenuTable{
  margin: 0 auto;
  margin-right: 5px;
  height: 100%;
}

#MenuTabletd{
  padding: 10px;

}

#Menu a{ 
  text-decoration: none;
  color:white;

}
#rodape{
  background-color: black;
  box-shadow: 1px 2px 5px rgba(0,0,0,0,5);
  position: relative;
  width: 100%;
  height: 5%;
}
#followus{
  width: 300px;
  height: 100%;
  float: right;
}

#followustable{
  color:white;
  margin: 0 auto;
  margin-right: 5px;
  height: 100%;
}
#followusa{
  color: white;

}

#followustable td{
  padding-right: 10px;
  
}
#conteudo{
  width: 960px;
  margin: 0 auto;
  position: relative;
  min-height: 85%;
  padding-top: 5px;
}
#direita{
  margin-top: 50px;
  width: 600px;
  float: right;

}

#direita p{
  font-size: 10px;
  text-align: justify;
  margin-right: 20px;

}

#esquerda{
  width: 350px;
  margin-top: 5px;
  float: left;
  text-align: center;

}

